# halo博客的地址
HALO_BASE_URL=http://localhost:8090

# 记忆系统后端，可选，可以不填
HINDSIGHT_API_URL=http://localhost:18888

AI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1   # 或任何 OpenAI 兼容 API
AI_API_KEY=your-api-key-here
AI_MODEL=glm-5.1                   # 模型名
